java/matura-2017/.idea/
java/matura-2017/out/
java/matura-2018/.idea/
java/matura-2018/out/
java/matura-2019/.idea/
java/matura-2019/out/
java/matura-2020/.idea/
java/matura-2020/out/
java/matura-2021/.idea/
java/matura-2021/out/
python/matura-2017/.idea/
python/matura-2017/venv/
python/matura-2018/.idea/
python/matura-2018/venv/
python/matura-2019/.idea/
python/matura-2019/venv/
python/matura-2020/.idea/
python/matura-2020/venv/
python/matura-2021/.idea/
python/matura-2021/venv/
.DS_Store